:root {
    /* Colorful gradient used in the navigation bar */
  --navGradient: linear-gradient(-90deg, #ff9100 0%, #f10366 50%, #6173ff 100%);
}

/* Body font */
.font-inter {
    font-family: "Inter UI", Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* Used for all titles/labels/buttons  */
.font-metropolis {
    font-family: "Metropolis", Arial, Helvetica, sans-serif;
}

/* Put CSS Styles Here */

body {
    margin: 0px;
}

header {
    background: rgb(41,40,76);
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 15vh;
}

.navbar {
    width: 100%;  /* i'm assuming full width */
    height: 15vh; /* change it to desired width */
}

.logo {
    display: inline-block;
    vertical-align: top;
    width: auto;
    height: 10vh;
    margin-right: 20px;
    margin-top: 2.5vh;
    margin-left: 15px;
}

.navbar a {
    vertical-align: top;
    margin-right: 20px;
    height: 15vh;
    font-size: 1.5em;
    line-height: 15vh;
    text-decoration: none;
    float: right;
    color: white;
}

.navbar .active {
    border-bottom: 5px solid white;
}